<mat-card class="mt20">
    
    <mat-card-header style="display: flex; justify-content: center;">
        <div mat-card-avatar class='header-image'></div>
        <mat-card-title style="text-decoration: 1.5px wavy underline;font-family: 'Noto Serif', serif;">
            <h1>All Categories</h1>
        </mat-card-title>
    </mat-card-header>

<!-- {{categories|json}} -->

    <mat-card-content *ngIf="categories">
        <div class="bootstrap-wrapper">

            <div class="container">

                <div class="row">
                    <div class="col-md-10 offset-md-1 mb20 mt10">

                        <table class="table">

                            <tr>
                                <th>Category Id</th>
                                <th>Title</th>
                                <th>Description</th>
                              </tr>
                            
                            <tr *ngFor="let c of categories;">
                                <td>CATEGORY{{c.cid}}</td>
                                <td>{{c.title}}</td>
                                <td>{{c.description}}</td>
                            </tr>
                            
                        </table>
                    </div>

                    <button class="button mb20" mat-raised-button (click)="printPage()" style="background-color:#e65100; color: white;">Print</button>

                </div>

            </div>

        </div>
    </mat-card-content>

</mat-card>

