html,
body{
    height: 100%;
}
body{
    margin: 0;
    font-family: 'Grey Qo', cursive;
}

.text-center {
    text-align: center;
    font-family: 'Pacifico', cursive;
   font-size: 1.3rem;
   margin-bottom: 30px;
   text-decoration: underline wavy black 1px; 
}

.full-width {
    width: 100%;
}