<div class="bootstrap-wrapper">
    <div class="container">

        <div class="row">
            <div class="col-md-6">
                <mat-card class="mt20 card">
    
                    <a href="admin-dashboard/users-list" style="text-decoration: none;">
                        <img class="image mt20"  style="display: flex; margin: auto; " 
                        src="../../../../assets/display_users.jpg" />
                        <h1 class="heading">Users <span class="length">{{users.length}}</span> </h1>
                    </a>
                   
                </mat-card>
            </div>
            <div class="col-md-6">
                <mat-card class="mt20 card">
    
                    <a href="admin-dashboard/active-quizzes-list" style="text-decoration: none;">
                        <img class="image mt20"  style="display: flex; margin: auto; " 
                        src="../../../../assets/display_active_quizzes.jpg" alt="" />
                        <h1 class="heading">Published Quizzes <span class="length">{{active_quizzes.length}}</span> </h1>
                    </a>
                        
                </mat-card>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <mat-card class="mt20 card">
    
                    <a href="admin-dashboard/categories-list" style="text-decoration: none;">
                        <img class="image mt20"  style="display: flex; margin: auto; " 
                        src="../../../../assets/display_categories.jpg" alt="" />
                        <h1 class="heading">Categories <span class="length">{{categories.length}}</span> </h1>
                        </a>
    
                </mat-card>
            </div>
            <div class="col-md-6">
                <mat-card class="mt20 card">
    
                    <a href="admin-dashboard/quizzes-list" style="text-decoration: none;">
                        <img class="image mt20"  style="display: flex; margin: auto; " 
                        src="../../../../assets/display_quizzes.jpg" alt="" />
                        <h1 class="heading">Quizzes <span class="length">{{quizzes.length}}</span> </h1>
                    </a>
                        
                </mat-card>
            </div>
        </div>

        <!-- class="truncate" -->

    </div>
</div>


