.instructions {
    text-decoration: 1.5px solid underline; 
    font-family: 'Noto Serif', serif;
    font-size: 1.5rem;
    text-align: left;
}

.progress {
    text-decoration: 1.5px solid underline; 
    font-family: 'Noto Serif', serif;
    font-size: 1.5rem;
    text-align: left;
}

.question {
  font-size: 1rem;
}

.button {
    text-align: center;
}

.header-image {
  background-image: url("../../../../assets/question.png");
  background-size: cover;
}

.congratulations {
  width: 100%; 
  height: 40%;
  padding: 2%;
}

.list {
  background-color: #ffebee;
  border: 2px solid #ffcdd2;
}

.items {
  color: #f44336;
  /* font-family: 'Kings', cursive; */
  font-family: 'Dancing Script', cursive;
}
