<div class="bootstrap-wrapper">
        <mat-card style="background-color: darkgray;" class="mt20 mb20">
            <div class="row">

                <div class="col-md-4">
                    <p class="heading text-center"><b>EXAM WAY OUT</b><br>
                    <span class="sub-heading text-center">Reaching out to everyone...</span>
                    </p>
                    <p class="content">
                        A fully integrated platform for 
                        <br> providing end to end online 
                        <br> computer based examination services 
                        <br> from candidate registration to result processing.
                    </p>
                </div>

                <div class="col-md-4">
                    <h2 class="social-heading"><b>Follow Us: </b></h2>
                    <div class="soial-icon">
                            <a href="https://www.facebook.com/">
                                <img src="https://cdn-icons-png.flaticon.com/512/124/124010.png">
                            </a>
                            <a href="https://www.linkedin.com/">
                                <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png">
                            </a>
                            <a href="https://www.twitter.com/">
                                <img src="https://cdn-icons-png.flaticon.com/512/124/124021.png">
                            </a>
                            <a href="https://www.instagram.com/">
                                <img src="https://cdn-icons-png.flaticon.com/512/174/174855.png">
                            </a>
                    </div>
                </div>

                <div class="col-md-4 icon">
                    <h2 class="contact-heading mb20"><b>Contacts: </b></h2>  
                    <div class="ml10">
                        <p><a href="mailto:contact@examwayout.in" aria-label="Email : contact@examonline.in">
                                <span class="mr5"><i class="fas fa-envelope"></i></span>
                                <b>Email Id:</b> <span class="hover ml10">  contact@examwayout.in </span>
                            </a></p>
                            
                        <p>
                            <a href="tel:+918887582344" aria-label="Tel : +91 8887582344">
                                <span class="mr5"><i class="fas fa-phone"></i></span>
                                <b>Phone Number:</b> <span class="hover ml10"> +91 8887582344 </span> 
                            </a>
                        </p>
                        
                        <p>
                            <a href="https://www.google.com/maps/place/Jai+Sai+Krupa+Photo+Goods/@25.4493434,78.5582231,15z/data=!4m9!1m2!2m1!1sJhansi+Uttar+Pradesh,+Civil+Lines,+Jhansi,+Uttar+Pradesh,jai+sai+krapa+good!3m5!1s0x397776d58f571479:0x7351796f9cf463ce!8m2!3d25.4516976!4d78.5696492!15sCktKaGFuc2kgVXR0YXIgUHJhZGVzaCwgQ2l2aWwgTGluZXMsIEpoYW5zaSwgVXR0YXIgUHJhZGVzaCxqYWkgc2FpIGtyYXBhIGdvb2QiA6gBAZIBEnBob3RvZ3JhcGh5X3N0dWRpbw" 
                            aria-label="Address : 97/B, Laxman Ganj, Nariya Bazar, Jhansi(U.P.)- 284002">
                            <span class="mr5"><i class="fas fa-map-marker-alt"></i></span>
                                <b>Postal Address: </b>
                                <span class="hover ml10">97/B, Laxman Ganj, Nariya Bazar, Jhansi- 284002</span>
                            </a>
                        </p>
                    </div>
                    
                </div>

            </div>
        </mat-card>
</div>